.fluxocaixa {
    .table {
        &.table-nowrap {
            &.first-column-fixed {
                tr {
                    th:nth-child(1),
                    td:nth-child(1) {
                        position: sticky;
                        left: 0;
                    }
                    th:nth-child(2),
                    td:nth-child(2) {
                        position: sticky;
                        left: 38px;
                    }
                    th:nth-child(1),
                    th:nth-child(2) {
                        background: $white;
                    }
                    &:nth-of-type(odd) {
                        td:nth-child(1),
                        td:nth-child(2) {
                            background: #f2f2f2;
                        }
                    }
                    &:nth-of-type(even) {
                        td:nth-child(1),
                        td:nth-child(2) {
                            background: $white;
                        }
                    }
                    &:hover {
                        td:nth-child(1),
                        td:nth-child(2) {
                            background: #ececec;
                        }
                    }
                }
            }
        }
    }
}