$width-closed: calc(30px + 2rem);
#wrapper {
	padding-left: $width-closed;
	transition: all 0.5s ease;
	&.toggled {
		#sidebar-wrapper {
			width: $sidebar-width;
		}
		@include media-breakpoint-up(md) {
			padding-left: $sidebar-width;
			#page-content-wrapper {
				margin-right: -$sidebar-width;
			}
		}
	}
	&:not(.toggled) {
		#sidebar-wrapper {
			@extend .shadow-sm;
			.sidebar-nav {
				> .nav-item {
					> .nav-link {
						text-align: center;
						> span,
						&:after {
							display: none;
						}
						i {
							margin: auto!important;
						}
					}
					&:hover {
						.dropdown-menu {
							@extend .shadow-sm;
							display: block!important;
							position: fixed!important;
							left: $width-closed!important;
							top: 0!important;
						}
					}
				}
			}
		}
	}
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 0;
	width: $width-closed;
	top: $navbar-height;
	bottom: 0;
	overflow-y: auto;
	transition: all 0.5s ease;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	.dropdown-menu {
		transform: none!important;
	}
}
@include media-breakpoint-up(md) {
	#wrapper {
		&.toggled {
			padding-left: $sidebar-width;
			#sidebar-wrapper {
				width: $sidebar-width;
			}
			#page-content-wrapper {
				position: relative;
				margin-right: 0;
			}
		}
	}
	#sidebar-wrapper {
		width: $width-closed;
	}
	#page-content-wrapper {
		position: relative;
	}
}