.tableFixHead {
    #itensOrcamento {
        thead {
            > tr {
                th {
                    &:first-child {
                        z-index: 9;
                    }
                }
            }
        }
    }
}
#direita,
#esquerda {
    height: 1172px;
    overflow-y: auto;
}