.tableFixHead {
    height: 250px;
    #itensOrcamento {
        thead {
            > tr {
                th {
                    &:first-child {
                        z-index: 9;
                    }
                }
            }
        }
    }
}
#form-principal {
    &.was-validated {
        #direita {
            #camposOrc {
                .form-control {
                    &:invalid,
                    &:valid {
                        background-image: none;
                        @extend .border;
                    }
                }
            }
        }
    }
    #direita {
        #camposOrc {
            &.was-validated-orcamentos {
                .form-control {
                    &:invalid,
                    &:valid {
                        background-image: inherit;
                    }
                }
            }
        }
    }
}